body {
	background-color:#d9d9d9;
	margin: 0px;
	padding: 0px;
	text-align: center;	
}
header  {
	max-width: 100%; 
	overflow:hidden; 
	margin-bottom:20px;
	height: auto;
	background-image: url(Images/wallpaper.jpg);	
	
}

.wrapper {
	width:90%; 
	max-width:1000px; 
	margin:auto; 
	overflow:hidden; 
	margin-left:700px;
	margin-right: 700px;	
}
 
header .logo {
	color:white;
	font-size:50px;
	line-height:140px;
	text-align: center;	
}
 
.footer{
	overflow:hidden; 
	color:white;
	margin-left:1px;
	margin-top: 20px;
	height: auto;
	background-image: url(Images/wallpaper.jpg);
}

.container {
  position: relative;
  width: 50%;
  margin-top: 50px;
}

.image {
  display: block;
  width: 500px;
  height: 550px;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 3500;
  height: 550px;
  width: 500px;
  opacity: 0;
  transition: .5s ease;
  background-color:  #595959;
  text-decoration:none; 
}

.container:hover .overlay {
  opacity: 0.96;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-decoration:none; 
  
}
a{text-decoration:none;
	color: white;
} 
.arriba{
	position: fixed; 
	bottom: 10px; 
	right: 2%;" 
}
#sidebar {
	float: left;
	width: 300px;
	padding: 0px;
	color: black;
	position: fixed;
}

#sidebar ul {
	padding: 0;
	list-style: none;
}

#sidebar li {
	margin-left: 40px;
}

#sidebar li ul {
	margin-bottom: 30px;
	padding: 0px 20px 20px 20px;
	background: #595959;
	border-left: 1px solid #D6E6CC;
	border-right: 1px solid #D6E6CC;
	border-bottom: 1px solid #D6E6CC;
}

#sidebar li li {
	line-height: 35px;
	border-bottom: 1px dashed #D1D1D1;
	padding-left: 3px;
}

#sidebar h2 {
	height: 38px;
	padding: 12px 0 0 20px;
	background: #1E1E1E;
	letter-spacing: -.5px;
	color: #FFFFFF;
}

#sidebar a:hover {
	text-decoration: underline;
}

h1, h2, h3 {
	margin: 0;
	padding: 0;
	color: #534616;
}

a {
	color: white;
}

