body {
		background-color:#472B83;
		 margin: 0px;
		padding: 0px;
		
}
header {
	width:100%; 
	overflow:hidden; 
	background: #BFBF30;
	margin-bottom:20px;
}
 
.wrapper {
	width:90%; 
	max-width:1000px; 
	margin:auto; 
	overflow:hidden; 
}
 
header .logo {
	color:#912470;
	font-size:50px;
	line-height:140px;
	float:left;
}
 
header nav {
	float:right;
	line-height:150px;
}
 
header nav a {
	display:inline-block;
	color:#912470;
	text-decoration:none;
	padding:10px 20px;
	line-height:normal;
	font-size:20px;
	font-weight:bold;
	-webkit-transition:all 500ms ease;
	-o-transition:all 500ms ease;
	transition:all 500ms ease;
}
 
header nav a:hover {
	background:#39E24D;
	border-radius:50px;
}
.sobreMi{
	background-color:#1E796A;
	margin-bottom: 20px;
	margin-left: 100px;
	margin-right: 100px;
	margin-top: 1px;
	text-align: center;
	color: black;
}
.slider{
	width: 95%;
	margin: auto;
	overflow: hidden;
	
		
}
.slider ul{
	display: flex;
	padding: 0;
	width: 400%;
	animation: cambio 20s infinite;
	animation-direction: alternate;
}
.slider li{
	width: 100%;
	list-style: none;
	
}
.slider img{
	width: 100%;
	
	
}
@keyframes cambio{
	0%{margin-left: 0;}
	20%{margin-left: 0;}
	
	25%{margin-left: -100%;}
	45%{margin-left: -100%;}
	
	50%{margin-left: -200%;}
	70%{margin-left: -200%;}
	
	75%{margin-left: -300%;}
	100%{margin-left: -300%;}
	
	
}
.footer{
	width:100%; 
	overflow:hidden; 
	background: #BFBF30;
	margin-bottom:20px;
	color:#912470;
	text-align: center;
	margin-bottom: 0px;
	
}
.formulario{
	background: #BFBF30;
	margin-bottom: 10px;
	margin-left: 400px;
	margin-right: 400px;
	margin-top: 10px;
	color: #912470;
}
.read-more-state {
  display: none;
}

.read-more-target {
  opacity: 0;
  max-height: 0;
  font-size: 0;
  transition: .25s ease;
}

.read-more-state:checked ~ .read-more-wrap .read-more-target {
  opacity: 1;
  font-size: inherit;
  max-height: 999em;
}

.read-more-state ~ .read-more-trigger:before {
  content: 'Ver mas';
  color: #912470;
  
  
}

.read-more-state:checked ~ .read-more-trigger:before {
  content: 'Ver menos';
  color: #912470;
}

.read-more-trigger {
  cursor: pointer;
  display: inline-block;
  padding: 0 .5em;
  color: #666;
  font-size: .9em;
  line-height: 2;
  border: 1px solid #ddd;
  border-radius: .25em;
}

